<h1> Welcome to GameSleeve! </h1>
<h2>GameSleeve is a game management app that allows you to create an account and save all of your games under your unique username.</h2>

<h3> If you don't have an account, create one <a href="/signup">HERE</a>. 
Otherwise, sign-in <a href="/login">HERE</a></h3>
