<h1>New Game Page</h1> 
# Only for SIGNED-IN Users

<form action='/games/new' method='POST'> 
    <label> Title </label>
    <input type="text" name="title" id="title"> </br>

    <label> Genre </label>
    <input type="text" name="genre" id="genre"> </br>

    <label> Rating </label>
    <input type="text" name="rating" id="rating">

    <label> Release Year </label>
    <input type="year" name="release_year" id="release_year">

    <input type="submit" value="submit">
</form>